@import url("./css-reset.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap");

:root {
  /* colors */
  --clr-dark-1: #181818;
  --clr-dark-2: #474747;
  --clr-dark-3: #757575;
  --clr-dark-4: #;
  --clr-bg-primary: #fff8f3;
  --clr-bg-secondary: #fd6e0a;

  /* font-weight */
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
}
.hide {
  display: none !important;
}

/* flex */
.flex {
  display: flex;
}
.flex__row {
  flex-direction: row;
}
.flex__col {
  flex-direction: column;
}
.flex__center--v {
  align-items: center;
}
.flex__center--h {
  justify-content: center;
}
.flex__center {
  justify-content: center;
  align-items: center;
}

/* Components */
.btn-primary {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 1.125rem 1rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: #fd6e0a;
}
body {
  font-family: "Open Sans", serif;
  font-size: 1rem;
  font-weight: var(--fw-400);
}

/* HEADER */
.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-color: var(--clr-bg-primary);
}
/* NAVIGATION */
.nav {
  margin: 0 230px;
  justify-content: space-between;
  font-size: 1.25rem;
}
.nav a {
  text-decoration: none;
}
.nav__logo {
  font-size: 2.813rem;
  font-weight: var(--fw-800);
  color: var(--clr-dark-1);
}
.nav__logo-r {
  color: var(--clr-bg-secondary);
}
.nav__links {
  color: var(--clr-dark-2);
  gap: 3.125rem;
}
.nav__link {
  color: var(--clr-dark-2);
}

/* HERO */
.hero {
  margin: 0 40px 0 230px;
  justify-content: space-between;
}
.hero__contents {
  max-width: 36.563rem;
}
.hero__subtitle {
  font-size: 2.813rem;
  font-weight: var(--fw-600);
  color: var(--clr-dark-2);
}
.hero__title {
  font-size: 5.313rem;
  font-weight: var(--fw-700);
  color: var(--clr-dark-1);
  margin: 5px 0 20px 0;
}
.hero__description {
  font-size: 1.125rem;
  columns: var(--clr-dark-3);
  margin-bottom: 30px;
}
.hero__btn--contact {
  border: 2px solid var(--clr-bg-secondary);
  background-color: transparent;
  color: var(--clr-bg-secondary);
  padding: 1.115rem 0.8rem;
  margin-left: 1rem;
}
.hero__img {
  width: 584px;
}

/* @media (max-width: 576px) {
  .header {
    background-image: none;
  }
  .nav {
    flex-direction: column;
  }
  .nav__links {
    gap: 1.5rem;
    font-size: 1rem;
  }
  .nav__btn {
    padding: 1rem 0.875rem;
    font-size: 1rem;
  }
  .hero {
    flex-direction: column-reverse;
  }
  .hero__img {
    max-width: 70%;
    border-bottom: 2px solid var(--clr-dark-3);
  }
  .hero__contents {
    justify-content: center;
    align-items: center;
  }
  .hero__subtitle {
    font-size: 2rem;
  }
  .hero__title {
    font-size: 3.313rem;
  }
  .hero__description {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .hero__btn {
    padding: 1rem 0.875rem;
    font-size: 1rem;
  }
}
@media (min-width: 577px) and (max-width: 922px) {

} */

/* About */
.about {
  background-color: var(--clr-bg-primary);
  border-radius: 10px;
  padding: 8rem 9rem;
  text-align: center;
  margin: 230px;
}
.about__container {
  border: 1px solid #000;
  background-color: #fff;
}
.about__title {
  font-size: 2.1875rem;
  font-weight: var(--fw-700);
}
.about__description {
  font-size: 1.125rem;
  color: var(--clr-dark-3);
  margin: 1.875rem 0;
  padding: 0.5rem;
}
.about__details {
  gap: 2rem;
  color: var(--clr-dark-3);
  font-size: 1.25rem;
}
.about__detail__value {
  font-weight: var(--fw-700);
}

/* What I Do */

/* Resume */
.resume{
  margin: 0 230px;
}
.resume__container{
  gap: 1.5rem;
}
.resume__title{
  font-size: 2.1875rem;
  font-weight: var(--fw-700);
  text-align: center;
  margin-bottom: 113px;
}
.education, .experience{
  font-size: 1.875rem;
  color: var(--clr-dark-2);
  font-weight: var(--fw-700);
}
.resume__education>div, .resume__experience > div{
  border-bottom: 1px solid var(--clr-dark-3);
}
.education__title, .experience__title{
  font-size: 1.5625rem;
  font-weight: var(--fw-700);
  color: var(--clr-dark-2);
  margin-bottom: 10px;
}
.education__uniTimeline, .experience__uniTimeline{
  font-size: 1.125rem;
  color: var(--clr-dark-3);
  margin:0 0 1.125rem 0;
}
.education__description, .experience__description{
  color: var(--clr-dark-3);
}

.resume__btn{
  margin: 50px 0 180px;
}
/* Footer */
.footer {
  background-color: var(--clr-bg-primary);
  padding: 130px 230px;
  gap: 3rem;
  justify-content: center;
}
.connect__contents {
  width: 50%;
}
.connect__title,
.message__title {
  font-size: 2.125rem;
  font-weight: var(--fw-700);
  color: var(--clr-dark-1);
  margin-bottom: 1rem;
}
.connect__discription {
  color: var(--clr-dark-2);
  margin-bottom: 1.5rem;
}
.connect__socials {
  gap: 1rem;
  justify-content: flex-start;
}

.message__name,
.message__email,
.message__box {
  padding: 18px 30px;
  border: none;
  width: 80%;
  margin-bottom: 1.875rem;
}
.message__box {
  height: 180px;
  scroll-behavior: none;
}
